<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Login and Registration | WhatAPI </title>
    <link rel="stylesheet" href="/static/css/signup.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>

  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="/static/images/frontImg.jpg" alt="">
        <div class="text">
          <span class="text-1">Every new friend is a <br> new adventure</span>
          <span class="text-2">Let's get connected</span>
        </div>
      </div>
      <div class="back">
        <img class="backImg" src="/static/images/backImg.jpg" alt="">
        <div class="text">
          <span class="text-1">Complete miles of journey <br> with one step</span>
          <span class="text-2">Let's get started</span>
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Login</div>
            <form id="loginForm" action="/auth/login" method="post">
              <div class="input-boxes">
                  <div class="input-box">
                      <i class="fas fa-envelope"></i>
                      <input type="text" name="username" placeholder="Username" required>
                  </div>
                  <div class="input-box">
                      <i class="fas fa-lock"></i>
                      <input type="password" name="password" placeholder="Password" required>
                  </div>
                  <div class="text"><a href="#">Forgot password?</a></div>
                  <div class="button input-box">
                      <input type="submit" value="Submit">
                  </div>
                  <div class="text sign-up-text">Don't have an account? <label for="flip">Signup now</label></div>
              </div>
            </form>        
        </div>
        <div class="signup-form">
          <div class="title">Signup</div>
            <form id="signupForm" action="/user/create-account" method="post">
              <div class="input-boxes">
                <div class="input-box">
                  <i class="fas fa-user"></i>
                  <input type="text" name="username" placeholder="Username" required>
                </div>
                <div class="input-box">
                  <i class="fas fa-envelope"></i>
                  <input type="text" name="email" placeholder="Email" required>
                </div>
                <div class="input-box">
                  <i class="fas fa-lock"></i>
                  <input type="password" name="password" placeholder="Password" required>
                </div>
                <div class="input-box">
                  <i class="fas fa-lock"></i>
                  <input type="password" name="confirm_password" placeholder="Confirm Password" required>
                </div>
                <div class="button input-box">
                  <input type="submit" value="Submit">
                </div>
                <div class="text sign-up-text">Have an account? <label for="flip">SignIn now</label></div>
              </div>
            </form>          
    </div>
    </div>
    </div>
  </div>

  <!-- <script>
    let baseUrl = "http://localhost:8000"
    document.getElementById('signupForm').addEventListener('submit', function(event) {
      event.preventDefault(); // Prevent the default form submission
  
      const formData = new FormData(this);
  
      // Extracting password and confirmation from the form data
      const password = formData.get('password');
      const confirmPassword = formData.get('confirm_password');
  
      // Check if passwords match
      if (password !== confirmPassword) {
        alert('Passwords do not match. Please try again.');
        return; // Stop the function if passwords do not match
      }
  
      // If passwords match, convert form data to JSON
      const jsonData = Object.fromEntries(formData.entries());
  
      // Remove the confirm_password field from jsonData if not needed on the server
      delete jsonData.confirm_password;
  
      // Send the JSON data to the FastAPI backend
      fetch(`${baseUrl}/user/create-account`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(jsonData)
      })
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
        console.log('Success:', data);
        alert('Signup successful!');
      })
      .catch((error) => {
        console.error('Error:', error);
        alert('An error occurred. Please try again.');
      });
    });
    
    document.getElementById('loginForm').addEventListener('submit', function(event) {
      // event.preventDefault();
      const formData = new FormData(this);
      fetch(`${baseUrl}/auth/login`, {
          method: 'POST',
          body: formData
      })
      .then(response => {
          if (response.ok) {
              return response.json(); // Proceed to get the response data if status is OK
          } else {
              throw new Error('Failed to log in'); // Throw an error if response is not OK
          }
      })
      .then(data => {
          if (data.access_token && data.user) {
              localStorage.setItem('access_token', data.access_token)
              console.log(localStorage.getItem('access_token'))

              document.getElementById('notification').innerHTML = 'Login successful!';
              document.getElementById('notification').style.display = 'block';
              setTimeout(() => {

                window.location.href="/bot/create-bot";

            }, 3000);

          } else {
              document.getElementById('notification').innerHTML = 'Login failed: ' + data.detail;
              document.getElementById('notification').style.display = 'block';
          }
      })

      .catch(error => {
          alert('Error: ' + error.message);
      });
  });
  
  </script> -->
  
</body>
</html>